@tailwind base;
@tailwind components;
@tailwind utilities;


.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(1em + 0.750rem) calc(1em + 0.750rem);
}